body {
    font-family: Arial, sans-serif;
    background-image: url("IronT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

p {
    color: white
}

h1 {
    color: white;

}

h2 {
    color: white;
    font-size: 24px;

}

.container {
    padding: 50px 0;
}

label.form-label {
    color: white;
}

a {
    color: white !important;
    /* Cambiar el color del texto a blanco */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jumbotron {
    padding: 30px;
    margin: 30px;
}

.navbar-dark.bg-black {
    background-color: black !important;
}


/* Fondo negro para el contenido del modal */
.modal-content {
    background-color: black;
    color: white;
    /* Texto blanco */
}

/* Cambiar el color del título y el botón de cierre */
.modal-title {
    color: white;
}